<!doctype html>
<html>
  <head>
    <title><%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=siteName%></h1>
    <p>The revision hub for all whom are interested in the "purr"suit of knowledge!</p>
    <p>We currently offer mathematic revision materials in the form of quiz-like questions for the following subjects at GCSE level!</p>
    <% if (availableModules && availableModules.length > 0) { %>
      <ul>
        <% availableModules.forEach(function(module) { %>
          <li>
            <a href="/module/<%= module.module_id %>">
              <%= module.module_name %> - <%= module.description %>
            </a>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No modules currently available.</p>
    <% } %>
    <br>
    <a href="/">Return to Home</a>
  </body>
</html>
