<!doctype html>
<html>
    <head>
        <title><%=siteName%> - <%= module.module_name %></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <h1><%= module.module_name %></h1>
        <p><%= module.description %></p>
    
        <h2>Questions:</h2>
        <% if (questions && questions.length > 0) { %>
        <ol>
            <% questions.forEach(function(question) { %>
            <li>
                <a href="/question/<%= question.question_id %>">
                <%= question.question_text %>
                </a>
                - Difficulty: <%= question.difficulty %>
            </li>
            <% }); %>
        </ol>
        <% } else { %>
        <p>Currently no questions available for this module.</p>
        <% } %>
    
        <a href="/about">Back to Modules</a>
        <br>
        <br>
        <a href="/search">Back to Search</a>
        <br>
        <br>
        <a href="/">Return to Home</a>
    </body>
</html>